# See https://help.github.com/articles/ignoring-files/
node_modules/
.next/
out/
dist/
build/
coverage/
*.log
*.local
.env
.env.*
!.env.example
public/reports/
src/generated/prisma/
**/.DS_Store
.vercel
